
<div class="grid">

  <div class=""  *ngFor="let prodotto of prodottiCarrello">    <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{prodotto.nome}}</mat-card-title>
        <mat-card-subtitle>Quantità : {{prodotto.quantitaRichiesta}}</mat-card-subtitle>
        <mat-card-subtitle>Prezzo : {{prodotto.prezzo}}</mat-card-subtitle>

        <img mat-card-sm-image src="https://www.altroconsumo.it/-/media/altroconsumo/images/home/hi%20tech/monitor%20pc/test/immagini%20ps/monitor%20pc-17.svg?rev=3573d875-fa68-4eac-8953-db0c46d352bc&la=it-IT&mw=315&hash=7734126C0A71F0BA94036632A3D96ECC" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="rimoviDalCarrello(prodotto.id)">Rimuovi</button>
    </mat-card-actions>

  </mat-card>
</div>
  <div>
    <h3>Prezzo totale : {{prezzoTotale}}</h3>
    <button mat-button (click)="confermaAcquisti()">
      Conferma acquista
    </button>
    <button mat-button (click)="aggiornaProdotti()">
      Aggiorna carrello
    </button>
  </div>
</div>
